body {
    background-image: url("../images/bgd_1080.jpg");
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 1920px;
    height: 1080px;
}

p {
    font-weight: normal;
    font-size: 24px;
}

h2 {
    font-weight: bolder;
    font-size: 40px;
}

    /*HEADINGS */
.header--main {
    font-weight: normal;
    font-size: 50px;
    color: #121212;
    text-align: center;
}

    /*BLURBOX*/
.blur--box {    
    position: absolute;
    top: 155px;
    right: 60px;
    width: 600px;
    height: 700px;
    border: 2px solid #ececec;
    align-content: right;
    backdrop-filter: blur(5px);
    background: rgba(234, 234, 234, 0.3)
}

#padded {
    padding: 20px;
}